[submodule "jtetrahedron-numarithmetic"]
	path = jtetrahedron-numarithmetic
	url = git@github.com:vershininyn/jtetrahedron-numarithmetic.git
[submodule "jtetrahedron-numlinalgebra"]
	path = jtetrahedron-numlinalgebra
	url = git@github.com:vershininyn/jtetrahedron-numlinalgebra.git
[submodule "jtetrahedron-numoptalgs"]
	path = jtetrahedron-numoptalgs
	url = git@github.com:vershininyn/jtetrahedron-numoptalgs.git
[submodule "jtetrahedron-numdatasources"]
	path = jtetrahedron-numdatasources
	url = git@github.com:vershininyn/jtetrahedron-numdatasources.git
[submodule "jtetrahedron-numtransformations"]
	path = jtetrahedron-numtransformations
	url = git@github.com:vershininyn/jtetrahedron-numtransformations.git
[submodule "jtetrahedron-numexperiments"]
	path = jtetrahedron-numexperiments
	url = git@github.com:vershininyn/jtetrahedron-numexperiments.git
[submodule "jtetrahedron-numoptalgscompetitions"]
	path = jtetrahedron-numoptalgscompetitions
	url = git@github.com:vershininyn/jtetrahedron-numoptalgscompetitions.git
[submodule "jtetrahedron-deploy"]
	path = jtetrahedron-deploy
	url = git@github.com:vershininyn/jtetrahedron-deploy.git
[submodule "jtetrahedron-finitestatemachine"]
	path = jtetrahedron-finitestatemachine
	url = git@github.com:vershininyn/jtetrahedron-finitestatemachine.git
